In [1]:
import pandas as pd

In [2]:
inbody = pd.read_csv('data/inbody.csv')  

inanchor = pd.read_csv('data/inanchor.csv')

In [3]:
frames = [inbody, inanchor]
result = pd.concat(frames)

In [4]:
result.shape

(63847, 5)

In [5]:
victims = result.drop_duplicates()

In [6]:
victims.shape

(56177, 5)

In [7]:
victims.head()

,url,description,datePublished,victim,source
0,https://www.dallasnews.com/news/crime/2021/05/...,He was identified by police Monday afternoon a...,2021-05-11T00:56:00.0000000Z,Kalon Horton,Dallas Morning News
1,https://www.newsweek.com/full-list-229-black-p...,U.S. George Floyd Police Killings Police bruta...,2021-05-25T11:09:00.0000000Z,Kalon Horton,Newsweek
2,https://news.yahoo.com/george-floyd-anniversar...,Relatives say police had been told young man w...,2021-05-25T08:00:00.0000000Z,Ashton Pinke,YAHOO!News
3,https://dfw.cbslocal.com/2021/05/04/family-ash...,Ashton Pinke (credit: Pinke family ... Mark Br...,2021-05-05T02:51:00.0000000Z,Ashton Pinke,CBS DFW
4,https://dfw.cbslocal.com/2021/05/07/mesquite-p...,"MESQUITE, Texas (CBSDFW.COM) – The Mesquite Po...",2021-05-08T04:34:00.0000000Z,Ashton Pinke,CBS DFW

In [8]:
victims = victims[victims['description'].str.contains('police' or 'cop' or 'officer' or 'sheriff'
                                            or 'murder' or 'police' or 'shot' or 'shoot' 
                                            or 'shot' or 'shoot'  or 'George Floyd'
                                            or 'troopers' or 'BLM' or 'black lives matter')]

In [9]:
victims['index'] = range(1, len(victims) + 1)

In [10]:
victims.head(2)

,url,description,datePublished,victim,source,index
0,https://www.dallasnews.com/news/crime/2021/05/...,He was identified by police Monday afternoon a...,2021-05-11T00:56:00.0000000Z,Kalon Horton,Dallas Morning News,1
1,https://www.newsweek.com/full-list-229-black-p...,U.S. George Floyd Police Killings Police bruta...,2021-05-25T11:09:00.0000000Z,Kalon Horton,Newsweek,2

In [11]:
victims = victims.set_index('index')

In [12]:
victims.shape

(18198, 5)

In [13]:
for i in range(0, len(victims)):
    victims.iloc[i]['datePublished'] = victims.iloc[i]['datePublished'][:10]

In [14]:
victims.head(2)

,url,description,datePublished,victim,source
index,,,,,
1,https://www.dallasnews.com/news/crime/2021/05/...,He was identified by police Monday afternoon a...,2021-05-11,Kalon Horton,Dallas Morning News
2,https://www.newsweek.com/full-list-229-black-p...,U.S. George Floyd Police Killings Police bruta...,2021-05-25,Kalon Horton,Newsweek

In [16]:
victims.to_csv('data/victims.csv',index=False)