In [1]:
import json
import pandas as pd
from io import StringIO
import glob

In [2]:
file_list = glob.glob('data/inbody/articlesinbody*')

In [3]:
dfs=pd.DataFrame()
for file in file_list:
    with open(file) as fi:
        json_data = json.load(fi)
    victim = json_data['queryContext']['originalQuery'].split('+inbody')[0].strip('"') #Extract the victim's name
    if 'totalEstimatedMatches' in json_data:
        matches = json_data['totalEstimatedMatches'] #Extract the number of matches
    else:
        matches = 0
    df = pd.read_json(StringIO(json.dumps(json_data['value'])))    #Take the value portion, convert to string and then feed to pandas using StringIO
    df['victim'] = victim
    df['matches'] = matches
    dfs = dfs.append(df, ignore_index=True)

In [4]:
dfs.shape

(52823, 12)

In [5]:
droplist = ['name','about','category','image','matches','mentions','video']
dfs.drop(droplist,axis=1,inplace=True)

In [6]:
dfs.head()

,url,description,provider,datePublished,victim
0,https://www.dallasnews.com/news/crime/2021/05/...,He was identified by police Monday afternoon a...,"[{'_type': 'Organization', 'name': 'Dallas Mor...",2021-05-11T00:56:00.0000000Z,Kalon Horton
1,https://www.newsweek.com/full-list-229-black-p...,U.S. George Floyd Police Killings Police bruta...,"[{'_type': 'Organization', 'name': 'Newsweek'}]",2021-05-25T11:09:00.0000000Z,Kalon Horton
2,https://news.yahoo.com/george-floyd-anniversar...,Relatives say police had been told young man w...,"[{'_type': 'Organization', 'name': 'YAHOO!News...",2021-05-25T08:00:00.0000000Z,Ashton Pinke
3,https://dfw.cbslocal.com/2021/05/04/family-ash...,Ashton Pinke (credit: Pinke family ... Mark Br...,"[{'_type': 'Organization', 'name': 'CBS DFW'}]",2021-05-05T02:51:00.0000000Z,Ashton Pinke
4,https://dfw.cbslocal.com/2021/05/07/mesquite-p...,"MESQUITE, Texas (CBSDFW.COM) – The Mesquite Po...","[{'_type': 'Organization', 'name': 'CBS DFW'}]",2021-05-08T04:34:00.0000000Z,Ashton Pinke

In [7]:
dfs['index'] = range(1, len(dfs) + 1)

In [8]:
dfs.head()

,url,description,provider,datePublished,victim,index
0,https://www.dallasnews.com/news/crime/2021/05/...,He was identified by police Monday afternoon a...,"[{'_type': 'Organization', 'name': 'Dallas Mor...",2021-05-11T00:56:00.0000000Z,Kalon Horton,1
1,https://www.newsweek.com/full-list-229-black-p...,U.S. George Floyd Police Killings Police bruta...,"[{'_type': 'Organization', 'name': 'Newsweek'}]",2021-05-25T11:09:00.0000000Z,Kalon Horton,2
2,https://news.yahoo.com/george-floyd-anniversar...,Relatives say police had been told young man w...,"[{'_type': 'Organization', 'name': 'YAHOO!News...",2021-05-25T08:00:00.0000000Z,Ashton Pinke,3
3,https://dfw.cbslocal.com/2021/05/04/family-ash...,Ashton Pinke (credit: Pinke family ... Mark Br...,"[{'_type': 'Organization', 'name': 'CBS DFW'}]",2021-05-05T02:51:00.0000000Z,Ashton Pinke,4
4,https://dfw.cbslocal.com/2021/05/07/mesquite-p...,"MESQUITE, Texas (CBSDFW.COM) – The Mesquite Po...","[{'_type': 'Organization', 'name': 'CBS DFW'}]",2021-05-08T04:34:00.0000000Z,Ashton Pinke,5

In [9]:
dfs = dfs.set_index('index')

In [11]:
test = dfs.dropna()

In [12]:
test.shape

(52823, 5)

In [13]:
dfs.shape

(52823, 5)

In [14]:
name = [x.get('name')  for d in df['provider'] if d for x in d]

In [15]:
x = dfs['provider']
for x in dfs:
    x = [y.get('name')  for d in dfs['provider'] if d for y in d]
dfs['source'] = x

In [16]:
dfs.shape

(52823, 6)

In [17]:
dfs.head()

,url,description,provider,datePublished,victim,source
index,,,,,,
1,https://www.dallasnews.com/news/crime/2021/05/...,He was identified by police Monday afternoon a...,"[{'_type': 'Organization', 'name': 'Dallas Mor...",2021-05-11T00:56:00.0000000Z,Kalon Horton,Dallas Morning News
2,https://www.newsweek.com/full-list-229-black-p...,U.S. George Floyd Police Killings Police bruta...,"[{'_type': 'Organization', 'name': 'Newsweek'}]",2021-05-25T11:09:00.0000000Z,Kalon Horton,Newsweek
3,https://news.yahoo.com/george-floyd-anniversar...,Relatives say police had been told young man w...,"[{'_type': 'Organization', 'name': 'YAHOO!News...",2021-05-25T08:00:00.0000000Z,Ashton Pinke,YAHOO!News
4,https://dfw.cbslocal.com/2021/05/04/family-ash...,Ashton Pinke (credit: Pinke family ... Mark Br...,"[{'_type': 'Organization', 'name': 'CBS DFW'}]",2021-05-05T02:51:00.0000000Z,Ashton Pinke,CBS DFW
5,https://dfw.cbslocal.com/2021/05/07/mesquite-p...,"MESQUITE, Texas (CBSDFW.COM) – The Mesquite Po...","[{'_type': 'Organization', 'name': 'CBS DFW'}]",2021-05-08T04:34:00.0000000Z,Ashton Pinke,CBS DFW

In [18]:
dfs.drop(['provider'],axis=1,inplace=True)

In [19]:
dfs.shape

(52823, 5)

In [20]:
dfs.head()

,url,description,datePublished,victim,source
index,,,,,
1,https://www.dallasnews.com/news/crime/2021/05/...,He was identified by police Monday afternoon a...,2021-05-11T00:56:00.0000000Z,Kalon Horton,Dallas Morning News
2,https://www.newsweek.com/full-list-229-black-p...,U.S. George Floyd Police Killings Police bruta...,2021-05-25T11:09:00.0000000Z,Kalon Horton,Newsweek
3,https://news.yahoo.com/george-floyd-anniversar...,Relatives say police had been told young man w...,2021-05-25T08:00:00.0000000Z,Ashton Pinke,YAHOO!News
4,https://dfw.cbslocal.com/2021/05/04/family-ash...,Ashton Pinke (credit: Pinke family ... Mark Br...,2021-05-05T02:51:00.0000000Z,Ashton Pinke,CBS DFW
5,https://dfw.cbslocal.com/2021/05/07/mesquite-p...,"MESQUITE, Texas (CBSDFW.COM) – The Mesquite Po...",2021-05-08T04:34:00.0000000Z,Ashton Pinke,CBS DFW

In [22]:
dfs.to_csv('data/inbody.csv',index=False)